[submodule "CS330"]
	path = CS330
	url = https://github.com/aidenmark/CS330.git
[submodule "CS305"]
	path = CS305
	url = https://github.com/aidenmark/CS305.git
[submodule "CS465"]
	path = CS465
	url = https://github.com/aidenmark/CS465.git
[submodule "CS340"]
	path = CS340
	url = https://github.com/aidenmark/CS340.git
